AddType application/manifest+json .webmanifest
AddCharset UTF-8 .webmanifest

<IfModule mod_headers.c>
  <Files "service-worker.js">
    Header set Service-Worker-Allowed "../"
  </Files>
</IfModule>
